/* listeUni.css */
.liste-uni-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(75, 74, 74, 0.842);
  margin-top: 20px;
  width: 415%;
}

.table-responsive{
  text-align: center;
  margin-bottom: 20px;
  width: 1000px;
}


.liste-uni-container h2 {
  text-align: left;
  margin-bottom: 20px;
  width: 1000px;
  font-family: POPPIN;
}

.liste-uni-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Auto layout to handle responsive design */
}

.liste-uni-table th,
.liste-uni-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ada9e7;
  vertical-align: middle; /* Center content vertically */

}

.liste-uni-table th {
  background-color: #587fff;
  color: #ffffff;
}

.liste-uni-table td {
  max-width: 200px; /* Set a max-width for table cells */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.liste-uni-table tr:hover {
  background-color: #f1f1f1;
}

.uni-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; /* Ensure logos are not distorted */
}

.actions-button {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 30px;
}

.actions-button button {
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.actions-button button.edit {
  color: #3284ff;
}

.actions-button button.delete {
  color: #f44336;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(36, 36, 36, 0.842);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-form button[type="submit"] {
  background-color: #4375ff;
  color: white;
}

.modal-form button[type="button"] {
  background-color: #f44336;
  color: white;
}

.selected-logo-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  align-self: center;
}

@media (max-width: 768px) {
  .liste-uni-table th, .liste-uni-table td {
    padding: 8px 10px;
  }
  
  .actions-button {
    flex-direction: column; /* Stack buttons vertically */
    gap: 5px; /* Reduce gap */
  }
}

@media (max-width: 480px) {
  .liste-uni-table {
    font-size: 14px; /* Smaller font size */
  }

  .uni-logo {
    width: 40px;
    height: 40px;
  }

  .actions-button {
    flex-direction: column; /* Stack buttons vertically */
    gap: 5px; /* Reduce gap */
  }
}
