.sidebar {
    width: 250px;
    background-color: #000000;
    color: #fff;
    height: 100vh;
    position: fixed;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
  }
  
  .sidebar-header {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }

  .logo {
    width: 150px;
    height: auto;
    padding-left: -2px;
    
  }
  
  .sidebar-menu li {
    text-align:left;
    padding: 15px;
  }
  
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar-menu li a:hover {
    background-color: #88b3df;
    padding: 1px;
    border-radius: 4px;
  }
  
  
    .sidebar h4 {
        align-content: end;
    }
  

    .sidebar .side-menu {
        width: 100%;
        margin-top: 48px;
    }
    #sidebar .side-menu li {
        height: 48px;
        background: transparent;
        margin-left: 6px;
        border-radius: 48px 0 0 48px;
        padding: 4px;
    }
    #sidebar .side-menu li.active {
        background: var(--grey);
        position: relative;
    }
    #sidebar .side-menu li.active::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: -40px;
        right: 0;
        box-shadow: 20px 20px 0 var(--grey);
        z-index: -1;
    }
    #sidebar .side-menu li.active::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        bottom: -40px;
        right: 0;
        box-shadow: 20px -20px 0 var(--grey);
        z-index: -1;
    }
    #sidebar .side-menu li a {
        width: 100%;
        height: 100%;
        background: var(--light);
        display: flex;
        align-items: center;
        border-radius: 48px;
        font-size: 16px;
        color: var(--dark);
        white-space: nowrap;
        overflow-x: hidden;
    }


    .side-menu li a.logout {
        color: var(--red);
        text-decoration: none;
    }


    .sidebar-menu li button {
      background: none;
      border: none;
      color: inherit;
      font: inherit;
      cursor: pointer;
      padding: 0;
      text-decoration: none;
    }
    
    .sidebar-menu li button:hover {
      color: #3498db;
    }
    
    .sidebar-menu li.active button {
      color: #3498db;
      background-color: #ffffff;
      padding: 4px;
      border-radius: 4px;
    }
    



