.epreuves-container {
  padding: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.epreuves-container h2 {
  padding: 15px;
  padding-bottom: 40px;
  text-align: center;
}

.carousel {
  margin: 0 auto;
  padding-bottom: 1px;
}

.Toto {
  padding: 20px;
  margin: 20px;
}

.epreuve-card {
  background: #e0dede;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 0 auto;
  height: auto;
}

.epreuve-card:hover {
  transform: scale(1.05);
}

.epreuve-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.epreuve-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.epreuve-details h3 {
  margin: 0;
  font-size: 1.1em;
  color: rgba(37, 37, 53);
  font-family: poppins;
}

.epreuve-details p {
  flex: 1;
  margin: 10px 0;
  color: rgb(52, 53, 37);
}

.epreuve-actions {
  display: flex;
  justify-content: center;
}

.epreuve-actions button {
  background: #4e60ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.epreuve-actions button:hover {
  background: #6a78ff;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.dialog-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: rgba(100, 100, 100, 0.7);
}

.carousel-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
}

.carousel .thumbs-wrapper {
  margin-top: 15px;
}


.epreuves-container .slick-slide {
  padding-left:  10px;
  padding-right:  10px; /* Ajouter de l'espace entre les cartes */
}